*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 8px;
   
  
}

body{
    display: flex;
    
    flex-direction: column;
    align-items: center;
 margin: auto;
    width: 40vw;
    text-align: justify;
    color: white;

background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
/* --------------HAYAT CSS ASAID START--------------------------- */

.box1{
    width: auto;
    height: 100px;

    background-color: rgb(217, 229, 235);
    animation-name: CSS-Responsive;
    animation-duration: 5s;
}

    @keyframes CSS-Responsive {
      0%   {background-color: rgb(230, 219, 219); left:0px;}
      50%  {background-color: rgb(189, 189, 185); left:200px;}
      100% {background-color: rgb(231, 207, 207); left:0px;}
    }
  aside {
      margin-top: 100px;
      display: flex;
     flex-wrap: wrap;
     flex-direction: column;
       flex-basis: 20%;
   height:750px;
     background-color: #ededed8c;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: rgb(101, 134, 51);
     padding: 1rem;
     margin-left: 150px;
     border-radius:15px ;
    }
    
    aside a {
      line-height: 1.5rem;
    }
    .box2{
      background-color: rgba(200, 204, 204, 0.61);
    }
     .box2 a:hover{font-size: 1.5rem;color: orangered; 
    }


/* --------------- hayat CSS ASAID END-------------- */



main{
display: flex;
flex-wrap: wrap;

}
    

header{

display: flex;
width: 1300px;
margin-top: 3rem;

}

.title-head{

font-size: 1.3rem;
transition: ease-in-out 2s ;
animation: move 5s infinite;
}
 @keyframes move{
    
    0%{
      
       text-shadow: wheat 5px 5px 10px;  
    } 
    50%{
      
        text-shadow: rgb(146, 99, 12) 5px 5px 10px;  
     } 
    100%{
      
        text-shadow: wheat 5px 5px 10px;  
     } 


}
/* .title-head:hover{
text-shadow: wheat 5px 5px 10px ;

} */

.head{
    font-family: 'Abril Fatface', cursive;

}

main{
    width: 100vw;
    
   
   
}
.both-containar{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}

/* left big caontainar start  */
.containar-left-move{
    display: flex;
    width: 650px;
justify-content: center;
}

.big-containar-left{
display: flex;
align-content: flex-start;


}


.div-info{
   margin-left: 250px;
   margin-top: 100px;
  



}
.ul-info>li{
    display: flex;
     width: 150px;
    list-style-type: none;
    background-color: #01bff1;
justify-content: center;
text-align: center;
border-radius: 25px 10%;
margin: 15px;
}

.home{
   
    align-items: center;
    height: 150px;
    width: auto;
    font-size: 45px;
    color: white;
}
.home:hover{
    border-right: whitesmoke 5px solid;
    border-bottom: whitesmoke 5px solid;
    transform: translate(10px,10px);

}




.about-us{
    align-items: center;
    height: 150px;
    width: auto;
    font-size: 45px;
    color: white;
}

.about-us:hover{
    border-right: whitesmoke 5px solid;
    border-bottom: whitesmoke 5px solid;
    transform: translate(10px,10px);
    
}


.search{
    align-items: center;.about-us
    width: auto;
    height: 150px;
     font-size: 45px;
     color: white;
}
.search:hover{
    border-right: whitesmoke 5px solid;
    border-bottom: whitesmoke 5px solid;
    transform: translate(10px,10px);

}


.address{
    align-items: center;
    height: 150px;
    width: auto;
     font-size: 45px;
     color: white;

}

.address:hover{
    border-right: whitesmoke 5px solid;
    border-bottom: whitesmoke 5px solid;
    transform: translate(10px,10px);

}

.pdf {

align-items: center;
  height: 150px;
  width: auto;
     font-size: 45px;
     color: white;
     text-decoration: none;

}
.pdf:hover{
    border-right: whitesmoke 5px solid;
    border-bottom: whitesmoke 5px solid;
    transform: translate(10px,10px);

}






/* end big cantainer left ------------ */

/* -----------right cantainar start -------------------- */
.big-containar-right{
 display: flex;
 flex-wrap: wrap;
 width: 45%;
}

.container-1{



}
.first-part{
margin-top: 15px;
border: 10px rgb(250, 249, 249) solid;
border-radius: 10% 10px;
padding: 10px;
margin-bottom: 25px;

}
.second-part{

}




.about{


}

.section-1{

}

.paragraf-today{

}

.tabel-of-contents{

    font-family: 'Abril Fatface', cursive;
}

.li-tabel-content{
color: white;
transition: width 2s;
}
.li-tabel-content:hover{
background-color: rgba(255, 255, 255, 0.404);
width: 250px;

}


.title-Common-Breakpoints{
    font-family: 'Abril Fatface', cursive;
}

.breakpoints{


}
.information-devices{


}

.ul-widths-of-devices{

}

.li-widths-of-devices{


}

.media-queries{

}

.title-Media-queries{
    display: flex;
   justify-content: center;
   font-family: 'Abril Fatface', cursive;
   
  }

.h1-media-queries{
justify-content: center;
border-radius: 15px;
    display: flex;
    background:#1693a5 ;
    color: aliceblue;
    width: 450px;
    height: 75px;
    align-items: center;
    justify-content: center;
}

.imag-device{
display: flex;
justify-content: center;
}

.div-title-media-queries{
    display: flex;
    justify-content: center;
    }

.content-media-queries{


}
.h1-media-queries{
    font-family: 'Abril Fatface', cursive;

}
.media-queries-paragraf{

}
.third-part{
    margin-top: 15px;
    border: 10px rgb(243, 239, 239) solid;
    border-radius: 10% 10px;
    padding: 10px;
    margin-bottom: 25px;

}

.media-type{
padding: 15px;
    display: flex;
    background:#1693a5 ;
    color: aliceblue;
    width: 450px;
    height: 75px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.div-title-media-type{
    display: flex;
 
    justify-content: center;
}
.img-media-type{
width: 75%;
display: flex;
align-items: center;
justify-content: center;
}
.div-img-media-type{
    display: flex;
    justify-content: center;
}

.paragraf-media-type{

}
.forth-part{
    margin-top: 15px;
    border: 10px rgb(243, 238, 238) solid;
    border-radius: 10% 10px;
    padding: 10px;
    margin-bottom: 25px;

}


.div-media-feature{
    display: flex;
    border-radius: 15px;
  
    color: aliceblue;
    width: 450px;
    height: 75px;
    align-items: center;
    justify-content: center;
}

.title-media{
    display: flex;
    border-radius: 15px;
    background:#1693a5 ;
    color: aliceblue;
    width: 450px;
    height: 75px;
    align-items: center;
    justify-content: center;
    font-family: 'Abril Fatface', cursive;
}

.div-media-feature1{
    display: flex;
    justify-content: center;
    
}
.paragraf-media-feature1{

}

.div-img-feature{
    display: flex;
    justify-content: center;
}

.div-imag-media-feature-2{
   display: flex;
   justify-content: center;
   

}
.imag-media-feature-2{
  
}

.title-query-works{
    font-family: 'Abril Fatface', cursive;
}
.div-example{
    padding: 15px;
}
.exaple{
   width: fit-content;
   width: 550px;
    background-color: #7c7575;
}

.fifth-part{
    margin-top: 15px;
    border: 10px rgb(245, 242, 242) solid;
    border-radius: 10% 10px;
    padding: 10px;
    margin-bottom: 25px;
}
.div-titel-media{
    display: flex;
    
    justify-content: center;
}
.div-media-queries{


    background:#1693a5 ;
    color: aliceblue;
    width: 450px;
    height: 75px;
    align-items: center;
    justify-content: center;
}
.imag-media-queries{
display: flex;
justify-content: center;

}

.mobile-first{
display: flex;
justify-content: center;
}
.mobile-first-imag{
    display: flex;
justify-content: center;
}

.title-mobile-first{
    font-family: 'Abril Fatface', cursive;

}

.paragraf-mobile-first{

}

.container-box{


}
.top-position{
    display: flex;
    justify-content: center;
}

.top a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-radius: 15px;
   transition: width 2s;
    background: #0393d4;
    width: 350px;
    padding: 15px;
    
}


.top a:hover{
    width: 650px;
    border-radius: 15px;
 background-color:#060547 ;
border-bottom: white 5px solid;
   
}

/* ---------footer start--------------- */
footer{
display: flex;

  } 

.footer-container{

    width:80vw;
  height: 400px;
    border: 5px snow solid;
    padding-top: 15px;
   
}



.social:hover{
    color: tomato;
        }
        .Social-Media>ul :hover{
            color: tomato;
        }
        
        .contact:hover{
            color: tomato;
        }
        .move-contact{
        
       width: 600px;
 
 
          
        }
        .movmov{
            display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
            width: 1500px;
            background-color: #080870;
        }

        
.Social-Media{



list-style-type: none;
font-size: 25px;
}

.Social-Media> ul li{
    list-style-type: none;
}

.contact{

font-size:20px;

}

.social{
    display: ;
    font-size: 2em;
}




/* --------------footer End ------------------- */


.box div{
position: fixed;
height: 60px;
width: 60px;
background: transparent;
border: 6px solid rgba(255, 255, 255, 0.247);
}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(3){
    top: 53%;
    left:16%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(4){
    top: 87%;
    left:60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5){
    top: 87%;
    left:26%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(6){
    top: 37%;
    left:80%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(7){
    top: 22%;
    left:60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(8){
    top: 80%;
    left:36%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(9){
    top: 53%;
    left:16%;
    animation: animate 10s ease-out infinite;
}

.box div:nth-child(10){
    top: 12%;
    left:56%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(11){
    top: 7%;
    left:63%;
    animation: animate 10s ease-out infinite;
}
.box div:nth-child(12){
    top: 27%;
    left:3%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(13){
    top:6%;
    left:66%;
    animation: animate 10s ease-out infinite;
}
.box div:nth-child(14){
    top: 73%;
    left:13%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(15){
    top: 7%;
    left:23%;
    animation: animate 10s ease-out infinite;
}
.box div:nth-child(16){
    top: 47%;
    left:3%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(17){
    top: 100%;
    left:6%;
    animation: animate 10s ease-out infinite;
}






/* ------------------------------------- */



.boxx div{
    position: fixed;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 3px solid rgba(45, 148, 31, 0.322);
    }
    .boxx div:nth-child(1){
        top: 12%;
        left: 42%;
        animation: animate 21s linear infinite;
    }
    .boxx div:nth-child(2){
        top: 33%;
        left: 23%;
        animation: animate 15s linear infinite;
    }
    .boxx div:nth-child(3){
        top: 78%;
        left:64%;
        animation: animate 18s linear infinite;
    }
    .boxx div:nth-child(4){
        top: 41%;
        left:6%;
        animation: animate 7s linear infinite;
    }
    
    .boxx div:nth-child(5){
        top: 7%;
        left:83%;
        animation: animate 15s linear infinite;
    }
    
    .boxx div:nth-child(6){
        top: 50%;
        left:70%;
        animation: animate 19s linear infinite;
    }
    
    .box div:nth-child(7){
        top: 33%;
        left:92%;
        animation: animate 15s linear infinite;
    }
    
    .boxx div:nth-child(8){
        top: 15%;
        left:40%;
        animation: animate 10s linear infinite;
    }
    .boxx div:nth-child(9){
        top: 4%;
        left:85%;
        animation: animate 17s ease-out infinite;
    }
    
    .boxx div:nth-child(10){
        top: 48%;
        left:51%;
        animation: animate 20s linear infinite;
    }
    .boxx div:nth-child(11){
        top: 77%;
        left:93%;
        animation: animate 13s ease-out infinite;
    }
    .boxx div:nth-child(12){
        top: 90%;
        left:100%;
        animation: animate 5s linear infinite;
    }
    .boxx div:nth-child(13){
        top:97%;
        left:95%;
        animation: animate 12s ease-out infinite;
    }
    .boxx div:nth-child(14){
        top: 85%;
        left:88%;
        animation: animate 8s linear infinite;
    }
    .boxx div:nth-child(15){
        top: 7%;
        left:23%;
        animation: animate 16s ease-out infinite;
    }
    .boxx div:nth-child(16){
        top: 93%;
        left:75%;
        animation: animate 18s linear infinite;
    }
    .boxx div:nth-child(17){
        top: 8%;
        left:50%;
    
        animation: animate 9s ease-out infinite;
    }
    
    
    
    
    @keyframes animate {
        0%{
            transform:scale(1) translateY(0) translateX(0);
            opacity: 1;
            border-radius: 5px ;
       
        }
        100%{
            transform:scale(3.3) translateY(-90px)rotate(80deg);
            opacity: 0;
            border-radius: 30px;
         
    
    }
    }

